.form-popup {
	position: absolute;
	top: 10em;
	left: 20em;
	background-color: #f1f1f2;
	width: 210px;
	font-family: 'Lato', sans-serif
}

.modal-header {
	background-color: #003B46;
	color: white;
}

.btn {
	font-size: 0.7em;
}

.modal-message {
	font-family: 'Lato', sans-serif;
}

.btn-primary {
	background-color: #003B46;
	border: 1px solid #003B46;
}

.btn-warning {
	background-color: #66a5ad;
	border: 1px solid #66a5ad;
}

.btn-primary:hover {
	background-color: #003B46;
	border: 1px solid #003B46;
}

.btn-warning:hover {
	background-color: #66a5ad;
	border: 1px solid #66a5ad;
}
