<section ng-controller="HomeCtrl as homeCtrl" class="room-list-container">
  <div class="room-list-title" >
    <div type="button" class="btn btn-default" ng-controller="ModalCtrl as modalCtrl" ng-click="modalCtrl.open()">Create New Room</button>
  </div>

  <br />

	<div class="room-list-rooms">
    <div class="room-open-title"><h2>Lets chat with each other</h2></div>
      <section class="room-list-container">
         <table class="room-list">
           <div class="room-list-rooms-individual" ng-repeat="room in homeCtrl.rooms track by $index">
    					 <p><a ng-click="chatapp.selectRoom(room)">{{room.$value}}</a></p>

    			 </div>
         </table>
       </section>
	 </div>
   <div class="current-user">
     <p><strong>Current User:</strong></p>

     <p>{{chatapp.currentUser}}</p>
     <button class="current-user-click" ng-click="chatapp.newUser()">Set New User</button>
     <button class="reset-user-click" ng-click="chatapp.resetuser()">Reset Username</button>
   </div>
 </section>


<section class="chat-section">

  <h1> {{ chatapp.currentRoom.roomname }}</h1>

   <table>

         <tr>
           <th>User</th>
           <th>Time Sent</th>
           <th>Message</th>
         </tr>

         <tr ng-repeat="message in homeCtrl.messages">
           <td>{{ message.username }}</td>
           <td>{{ message.sentAt }}</td>
           <td>{{ message.content }}</td>
         </tr>
   </table>
   <form>
        <input type="text" ng-model="newMessage" size="92" placeholder="Send message... ">
        <button ng-click="chatapp.sendMessage()">Send</button>
   </form>

</section>
