
<section class="form-popup">
	<div class="modal-header">
		<h5 class="modal-title" id="modal-title">Create New Room</h3>
	</div>
	<div class="modal-body">

			<form ng-submit="modal.createRoom()">
					<div class="input-group animated fadeIn">
							<input type="text" class="form-control finderBar" ng-model="name" title="name" placeholder="Your room name here" autofocus>
					</div>
		 </form>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="modalCtrl.createRoom()">Create</button>
		<button class="btn btn-warning" type="button" ng-click="modalCtrl.dismiss()">Dismiss</button>
	</div>
</section>
